# This is a basic workflow to help you get started with Actions

name: sujin_oh

# Controls when the workflow will run
on:
  workflow_dispatch:
  # Allows you to run this workflow manually from the Actions tab
  schedule:
    - cron: '0 8,12 * * *'

env:
  KEYWORDS: "마이크로소프트,VMware,델 테크놀로지스,클라우데라"
  SORT_TYPE: '0'
  peaches_one_universe : "17a5600aat0rFKToNRDoAcmmItzqv4XKxX8x6vlCbnHk"
  NO_TRESPASSING_APPLE_ONLY: ${{ secrets.NO_TRESPASSING_APPLE_ONLY }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Run a one-line script 
        run: pip install --upgrade gspread==4.0.1
        
      - name: Run a one-line script
        run: pip install --upgrade gspread_formatting
        
      - name: Run a one-line script
        run: pip install beautifulsoup4

      - name: Run a one-line script
        run: pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
      
      - name: Run a one-line script
        run: pip install --upgrade oauth2client
        
        
      - name: Run a one-line script
        run: pip install --upgrade oauth2client        

      - name: Run a one-line script
        run: pip install --upgrade gspread_dataframe

      - name: Run a one-line script
        run: pip install pandas
        
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: python apple.py
        
        
